
@media(min-width:960px) {
    
    #searchResults .well{
        height: 480px;
    }

    #searchResults img{
        height: 390px;
        width: 100%
    }
}
@media(min-width:960px) {

    #nominations .placeholder{
        height: 225px;
    }

    #nominations .poster{
        height: 298px;
    }    

    #nominations .full{
        height: 300px;
    }
}

.movie-overlay {
    position: absolute;
    top: 1.5%;
    padding-top: 45%;
    background-color: rgba(0, 150, 100, 0.5);
    height: 375px;
    width: 90%;
    opacity: 0;
    transition: 0.5s ease;
}


.nomination-overlay {
    position: absolute;
    padding-top: 65%;
    background-color: rgba(150, 0, 50, 0.5);
    height: 298px;
    width: 196px;
    opacity: 0;
    transition: 0.5s ease;
}


.hovertrigger:hover .movie-overlay{
    opacity: 1;
}

.card:hover .nomination-overlay{
    opacity: 1;
}

#submitNominations, .alert{
    display:none;
}